/**** Large divices only ****/
@media (min-width: 1200px) {

}

/**** Medium divices only ****/
@media (min-width: 992px) and (max-width: 1199px) {

}

/**** Small divices only ****/
@media (min-width: 768px) and (max-width: 991px) {
   .info {
    display: block;
    text-align: center;
   }
   
   .info .info-bx {
     display: block;
   }
}

/**** Extra small divices only ****/
@media (min-width: 651px) and (max-width: 767px) {
	.info {
        display: block;
        text-align: center;
       }
       
    .info .info-bx {
     display: block;
    }

    img {
        width: 35%;
    }	
}

/**** Extra-extra small divices only ****/
@media (max-width: 650px) {
	body {
        font-size: 16px;
    }

    h2 {
        text-align: center;
    }

    .container .row .forms {
        margin: 0;
        padding: 0; 
      }

    .row {
        margin: 5px;
        padding: 5px;
      }

    .info {
        display: block;
        text-align: center;
       }
       
       .info .info-bx {
         display: block;
       }

       img {
        width: 40%;
      }	

      .table {
        width: 100%;
    }
   .table > thead > tr > th, 
   .table > tbody > tr > th,
   .table > thead > tr > td,
   .table > tbody > tr > td {
        white-space: nowrap;
    }
    div .forms {
        text-align: center;
    }

    .forms-row {
        display: block;
      }
    
    .forms-row .forms-bx  {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .btn {
        max-width: 70%;
    }
}