/**** Large divices only ****/
@media (min-width: 1200px) {
body {
  width: 100%;
}

.header__bar {
  width: 10%;
  margin: 0 42px;
}

.header__logo, .header__nav {
  padding: 0 10px;
}

.header__logo-text {  
  font-size: 24px;
  margin: 0;
}

.nav-button {
  width: 30px;
  height: 30px;
}

a.nav-link {
  text-align: right;
  padding-right: 100px;
}

/* Search */
form{
  position: relative;
  top: 10%;
  left: 350%;
  transform: translate(-50%);
  transition: all 1s;
  width: 30.5px;
  height: 30.5px;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 5px;
}

input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 30.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 40px 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 5px;
  width: 30.5px;
  height: 30.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  transition: all 1s;
}

form:hover{
  width: 200px;
}

/*  container  */

.container {
  width: 100%;
  padding-top: 60px;
}

.column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.item {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

div.item.work {
  width: 100%;
}

.item__description {
  height: 450px;
}

.item__description-text {
  font-size: 24px;
  line-height: 24px;
  padding: 25px;
}

.item__description-text h2 {
  padding-top: 25px;
}

.item__avatar {
  position: relative;
  height: 450px;
}

.item__avatar-pic {
  width: 400px;
  height: 414px;

  position: relative;
  left: 85px;
}

.item__avatar-img {
  width: 400px;
  height: 414px;

  position: relative;
  left: 50px;
  top: -380px;
}

h1, h2, h3 {
  text-align: center;
}

p,
li {
  line-height: 25px;
}

tr, td, th {
  padding: 10px;
}

.footer {
  width: 100%;
}

.footer__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  margin: 0 30%;
}

.footer__row-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

  columns: 2;
  column-gap: 20px;
}

.footer__row-icon {
    width: 30px;
}

.footer__row-bar.footer__row-bar-left {
  display: flex;
  align-items: left;
  justify-content: left; 
  padding: 15px;
}

.footer__text-mail div {
  width: 280px;
  padding-left: 35px;
}
}

/**** Medium divices only ****/
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    width: 100%;
    font-size: 18px;
  }
  
  .header__bar {
    width: 10%;
    margin: 0 40px;
  }
  
  .header__logo, .header__nav {
    padding: 0 5px;
  }
  
  .header__logo-text {  
    font-size: 20px;
    margin: 0;
  }
  
  .nav-button {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
  }

  a.nav-link {
    text-align: right;
    padding-right: 80px;
}
  
  /* Search */
  form{
    position: relative;
    top: 10%;
    left: 300%;
    transform: translate(-50%);
    transition: all 1s;
    width: 25.5px;
    height: 25.5px;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 5px;
  }
  
  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 25.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 15px;
    padding: 0 40px 0 20px;
  }
  
  .fa{
    box-sizing: border-box;
    padding: 5px;
    width: 25.5px;
    height: 25.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    transition: all 1s;
  }
  
  form:hover{
    width: 200px;
  }
  
  /*  container  */
  
  .container {
    width: 100%;
    padding-top: 58px;
  }
  
  .column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    align-items: center;
  }
  
  .item {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  div.item.work {
    width: 100%;
  }
  
  .item__description {
    height: 350px;
  }
  
  .item__description-text {
    font-size: 18px;
    line-height: 18px;
    padding: 5px;
  }
  
  .item__description-text h2 {
    padding-top: 20px;
  }
  
  .item__avatar {
    position: relative;
    height: 350px;
  }
  
  .item__avatar-pic {
    width: 300px;
    height: 314px;
  
    position: relative;
    left: 85px;
  }
  
  .item__avatar-img {
    width: 300px;
    height: 326px;
  
    position: relative;
    left: 50px;
    top: -280px;
  }
  
  h1, h2, h3 {
    text-align: center;
    font-size: 28px;
  }
  
  p,
  li {
    line-height: 25px;
  }
  
  tr, td, th {
    padding: 5px;
  }
  
  .footer {
    width: 100%;
  }
  
  .footer__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  
    margin: 0 30%;
  }
  
  .footer__row-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  
    columns: 2;
    column-gap: 15px;
  }
  
  .footer__row-icon {
      width: auto;
      height: 25px;
  } 
  
  .footer__row-bar.footer__row-bar-left {
    display: flex;
    align-items: left;
    justify-content: left; 
    padding: 15px;
  }
  
  .footer__text-mail div {
    width: 250px;
    padding-left: 25px;
    font-size: 18px;
  }
}

/**** Small divices only ****/
@media (min-width: 768px) and (max-width: 991px) {
  body {
    width: 100%;
    font-size: 16px;
  }
  
  .header__bar {
    width: 5%;
    margin: 0 40px;
  }
  
  .header__logo, .header__nav {
    padding: 0 5px;
  }
  
  .header__logo-text {  
    font-size: 18px;
    margin: 0;
  }
  
  .nav-button {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
  }

  a.nav-link {
    text-align: right;
    padding-right: 50px;
}
  
  /* Search */
  form{
    position: relative;
    top: 10%;
    left: 600%;
    transform: translate(-45%);
    transition: all 1s;
    width: 25.5px;
    height: 25.5px;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 5px;
  }
  
  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 25.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 15px;
    padding: 0 40px 0 20px;
  }
  
  .fa{
    box-sizing: border-box;
    padding: 5px;
    width: 25.5px;
    height: 25.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    transition: all 1s;
  }
  
  form:hover{
    width: 150px;
  }
  
  /*  container  */
  
  .container {
    width: 100%;
    padding-top: 58px;
  }
  
  .column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    align-items: center;
  }
  
  .item {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  div.item.work {
    width: 100%;
  }
  
  .item__description {
    height: auto;
  }
  
  .item__description-text {
    font-size: 16px;
    line-height: 16px;
    padding: 5px;
  }
  
  .item__description-text h2 {
    padding-top: 15px;
  }
  
  .item__avatar {
    position: relative;
    height: 300px;
  }
  
  .item__avatar-pic {
    width: 250px;
    height: 300px;
  
    position: relative;
    left: 75px;
  }
  
  .item__avatar-img {
    width: 250px;
    height: 300px;
  
    position: relative;
    left: 45px;
    top: -280px;
  }
  
  h1, h2, h3 {
    text-align: center;
    font-size: 24px;
  }
  
  p,
  li {
    line-height: 24px;
  }
  
  tr, td, th {
    padding: 5px;
  }
  
  .footer {
    width: 100%;
  }
  
  .footer__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  
    margin: 0 30%;
  }
  
  .footer__row-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  
    columns: 2;
    column-gap: 15px;
  }
  
  .footer__row-icon {
      width: auto;
      height: 25px;
  } 
  
  .footer__row-bar.footer__row-bar-left {
    display: flex;
    align-items: left;
    justify-content: left; 
    padding: 15px;
  }
  
  .footer__text-mail div {
    width: 250px;
    padding-left: 25px;
    font-size: 18px;
  }
}

/**** Extra small divices only ****/
@media (min-width: 651px) and (max-width: 767px) {
  body {
    width: 100%;
    font-size: 16px;
  }
  
  .header__bar {
    width: 10%;
    margin: 0 20px;
  }
  
  .header__logo, .header__nav {
    padding: 0 5px;
  }
  
  .header__logo-text {  
    font-size: 18px;
    margin: 0 20px;
  }
  
  .nav-button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
  }

  a.nav-link {
    text-align: right;
    padding-right: 30px;
}
  
  /* Search */
  form{
    position: relative;
    top: 10%;
    left: 200%;
    transform: translate(-45%);
    transition: all 1s;
    width: 25.5px;
    height: 25.5px;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 5px;
  }
  
  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 25.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 15px;
    padding: 0 30px 0 20px;
  }
  
  .fa{
    box-sizing: border-box;
    padding: 5px;
    width: 25.5px;
    height: 25.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    transition: all 1s;
  }
  
  form:hover{
    width: 150px;
  }
  
  /*  container  */
  
  .container {
    width: 100%;
    padding-top: 58px;
  }
  
  .column {
    display: block;
    height: 600px;
  }
  
  .item {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  div.item.work {
    width: 100%;
  }
  
  .item__description-text {
    font-size: 16px;
    line-height: 16px;
    padding: 5px;
  }
  
  .item__description-text h2 {
    padding-top: 15px;
  }
  
  .item__avatar {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
  }
  
  .item__avatar-pic {
    display: block;
    width: 250px;
    height: 300px;
  
    position: relative;
    left: 35%;
  }
  
  .item__avatar-img {
    width: 250px;
    height: 300px;
  
    position: relative;
    left: 25%;
    top: -280px;
  }
  
  h1, h2, h3 {
    text-align: center;
    font-size: 24px;
  }
  
  p,
  li {
    line-height: 20px;
  }
  
  tr, td, th {
    padding: 5px;
  }
  
  .footer {
    width: 100%;
  }
  
  .footer__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  
    margin: 0 20%;
  }
  
  .footer__row-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  
    columns: 2;
    column-gap: 15px;
  }
  
  .footer__row-icon {
      width: auto;
      height: 20px;
  } 
  
  .footer__row-bar.footer__row-bar-left {
    display: flex;
    align-items: left;
    justify-content: left; 
    padding: 15px;
  }
  
  .footer__text-mail div {
    width: 200px;
    padding-left: 25px;
    font-size: 12px;
  }
}

/**** Extra-extra small divices only ****/
@media (max-width: 650px) {
  body {
    width: 100%;
    font-size: 14px;
  }
  
  .header__bar {
    width: 10%;
    margin: 0 30px;
  }
  
  .header__logo, .header__nav {
    padding: 0 5px;
  }
  
  .header__logo-text {  
    font-size: 16px;
    margin: 0;
  }
  
  .nav-button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
  }

  a.nav-link {
    text-align: right;
    padding: 0;
    padding-right: 30px;
}
  
  /* Search */
  form{
    position: relative;
    top: 10%;
    left: 100%;
    transform: translate(-45%);
    transition: all 1s;
    width: 20.5px;
    height: 20.5px;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 5px;
  }
  
  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 20.5px;
    line-height: 20px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 0.8em;
    border-radius: 15px;
    padding: 0 30px 0 15px;
  }
  
  .fa{
    box-sizing: border-box;
    padding: 5px;
    width: 20.5px;
    height: 20.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    transition: all 1s;
  }
  
  form:hover{
    width: 100px;
  }
  
  /*  container  */
  
  .container {
    width: 100%;
    padding-top: 58px;
  }
  
  .column {
    display: block;
    height: 600px;
  }
  
  .item {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  div.item.work {
    width: 100%;
  }
  
  .item__description-text {
    font-size: 16px;
    line-height: 16px;
    padding: 5px;
  }
  
  .item__description-text h2 {
    padding-top: 15px;
  }
  
  .item__avatar {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
  }
  
  .item__avatar-pic {
    display: block;
    width: 250px;
    height: 300px;
  
    position: relative;
    left: 35%;
  }
  
  .item__avatar-img {
    width: 250px;
    height: 300px;
  
    position: relative;
    left: 25%;
    top: -280px;
  }
  
  h1, h2, h3 {
    text-align: center;
    font-size: 24px;
  }
  
  p,
  li {
    line-height: 20px;
  }
  
  tr, td, th {
    padding: 5px;
  }
  
  .footer {
    width: 100%;
  }
  
  /* .footer__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  
    margin: 0 20%;
  } */
  
.footer__row-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  
    columns: 2;
    column-gap: 15px;
  }
  /*   
  .footer__row-icon {
      width: auto;
      height: 20px;
  }  */
  
  .footer__row-bar.footer__row-bar-left {
    display: flex;
    align-items: left;
    justify-content: left;

    position: relative;
    left: 35%;
  }
  
  .footer__text-mail div {
    width: 180px;
    padding-left: 25px;
    font-size: 12px;
  }
}